footer{
    padding: 9.6rem 0rem;
    background-color: $navy;

    .footer-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.8rem;
    }
    .footer-content{
        max-width: 31.6rem;
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
        img{
            width: 31.6rem;
        }
        p{
            font-family: $inter;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
        }
        .contact{
            display: flex;
            flex-direction: column;
            gap: 1.8rem;
            span, a{
                font-family: $inter;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.4rem;
                letter-spacing: 0em;
                text-align: left;
                color: $white; 
            }
            a{
                text-decoration: none;
            }
        }
    }

    .footer-nav-wrap{
        width: 75rem;
        nav{
            display: flex;
            justify-content: end;
            margin-bottom: 4.8rem;
        }
        .menu__list{
            display: flex;
            gap: 3.6rem;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.6rem;
            letter-spacing: 0em;
            text-transform: uppercase;
            color: $gold;
        }
    }
    .form-wrap{
        padding-top: 6.4rem;
        border-top: 1px solid #BDBDBD;
        h3{
            font-family: $marcellus;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 4rem;
            letter-spacing: 0em;
            margin-bottom: 3.2rem;
            color: $white;
            span{
                color: $gold;
            }
        }
    }
    form{
        display: flex;
        flex-wrap: wrap;
        column-gap: 4.8rem;
        row-gap: 3.2rem;
        input, textarea{
            width: 100%;
            height: 5.8rem;
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.6rem;
            letter-spacing: 0em;
            color: $background_grey;
            border-bottom: 0.1rem solid rgba($color: #BBBBBB, $alpha: 0.36);
        }
        textarea{
            resize: none;
            height: 12rem;
            padding: 1.6rem 0rem;

        }
        button{
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.4rem;
            letter-spacing: 0em;
            color: $gold;
            text-transform: uppercase;
            cursor: pointer;
            display: flex;
            gap: 1rem;
            align-items: center;
            &:focus{
              outline: none;  
            }
        }
        
        input:focus, textarea:focus{
            outline: none;
        }
        input::placeholder, textarea::placeholder{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.6rem;
            letter-spacing: 0em;
            color: $background_grey;
            text-transform: uppercase;
        }

        input:nth-child(1),
        input:nth-child(2){
            width: calc(50% - 2.4rem) ;
        }
        
    }

    

    .link-icon{
        background-color: $background_grey;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-bottom: 2.4rem;
    }

    .footer-bottom{
        padding: 2.4rem 0rem 4.1rem 0rem;
        border-top: 1px solid #BDBDBD;
        
        p{
            font-family: $inter;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.1rem;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
        }
    }

    .footer-bottom-nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.8rem;
        span{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.6rem;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 3.6rem;
        }
        a{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.6rem;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
            text-decoration: none;
        }
    }

}

.footer-min{
    padding: 27.5rem 0rem 9.6rem;
    .footer-content{
        min-width: 50%;
    }
    .social-wrap{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 3.6rem;
        span{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.6rem;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
        }
        .link-icon{
            margin-bottom: 0;
        }
    }
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 4.8rem 0rem 0rem 0rem;
        p{
            max-width: 82.9rem;
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768px){
    .footer-min{
        padding: 4.8rem 0rem;
        .footer-bottom{
            padding-top: 2.4rem;
        }
    }
    footer{
        padding: 4.8rem 0rem;
        .container{
            padding: 0rem 1.6rem;
        }
        .footer-top{
            flex-direction: column;
        }
        .footer-content{
            align-items: center;
            max-width: 100%;
            gap: 2.4rem;
            img{
                width: 24rem;
            }
            .contact{
                gap: 1rem;
                span, a{
                    font-size: 1.4rem;
                    br{
                        display: none;
                    }
                }
            }
        }
        .footer-nav-wrap{
            width: auto;
            margin-top: 2.4rem;
            .menu__list{
                flex-direction: column;
                gap: 1.6rem;
            }
            nav{
                justify-content: start;
                margin-bottom: 2.4rem;
            }
            a{
                font-size: 1.6rem;
            }
            .social-wrap{
                flex-direction: column-reverse;
                gap: 1.6rem;
            }
        }
        .footer-top{
            margin-bottom: 2.4rem;
        }
        .footer-bottom{
            flex-direction: column-reverse;
            padding-bottom: 0rem;
            p{
                font-size: 1.2rem;
                margin-bottom: 0rem;
            }
        }
        .footer-bottom-nav {
            margin-bottom: 2.4rem;
            flex-direction: column-reverse;
            span{
                margin-top: 2.4rem;
            }
            ul{
                flex-direction: column;
                gap: 1.6rem;
                align-items: flex-start;
            }
        }
        .footer-content p{
            font-size: 1.4rem;
            line-height: 2rem;
        }
        .form-wrap{
            padding-top: 2.4rem;
            h3 {
                font-size: 2.8rem;
                line-height: 3.6rem;
                margin-bottom: 2.4rem;
            }
        }
        form{
            row-gap: 2rem;
            input{
                height: 5rem;
            }
            input:nth-child(1), input:nth-child(2){
                width: 100%;
            }  
            button{
                margin-top: 0rem;
            }
        }
    }
}