.header{
    width: 100vw;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #F4F4F475;
    .header__container{
        display: flex;
        align-items: center;
        height: 12.4rem;
        width: 100%;
    }
    .header__logo img{
        width: 26.5rem;
        height: 6rem;
    }
    .header__menu{
        margin-left: 12rem;
    }
    .menu__list{
        display: flex;
        gap: 4.8rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.1rem;
        letter-spacing: 0.128rem;
        text-transform: uppercase;
        color: $white;
    }
    .header__phone{
        margin: 0 0 0 auto;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.1rem;
        letter-spacing: 0.005rem;
        color: $white;
        img{
            height: 1.6rem;
            margin-right: 1.145rem;
        }
    }
    .header__phone_mobile{
        display: none;
    }

    .burger{
        display: none;
        width: 2.4rem;
        height: 1.9rem;
        position: absolute;
        left: 1.6rem;
        &__line{
            display: block;
            width: 2.4rem;
            height: 0.3rem;
            position: absolute;
            transition: all ease 0.5s;
        }
        &__line:nth-child(1){
            top: 0;
            left: 0;
        }
        &__line:nth-child(2){
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &__line:nth-child(3){
            bottom: 0;
            left: 0;
        }
        &_active .burger__line:nth-child(2){
            display: none;
        }
        &_active .burger__line:nth-child(1){
            transform: rotate(45deg);
            top: 0.8rem;
        }
        &_active .burger__line:nth-child(3){
            transform: rotate(-45deg);
            bottom: 0.8rem;
        }
    }
}
.header-dark{
    background-color: $navy;
}

@media (max-width: 768px){
    .header{
        .header__container{
            background-color: $navy;
            height: 8rem;
            position: relative;
            justify-content: center;
            padding: 0 1.6rem;
        }
        .burger{
            display: block;
        }
        .header__menu{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: absolute;
            top: calc(-100vh + 8rem);
            z-index: -1;
            margin-left: 0;
            height: calc(100vh - 8rem);
            padding: 2.4rem 1.6rem 4rem;
            width: 100%;
            transition: all ease .3s;
            background-color: $navy;
            left: 0rem;
        }
        .header__phone{
            display: none;
        }
        .header__phone_mobile{
            margin: 0;
            display: block;
        }
        .header__logo img{
            height: 4.5rem;
            width: auto;
        }
        .header__menu_active{
            top: 8rem;
        }
        .menu__list{
            flex-direction: column;
            gap: 1rem;
            li{
                padding: 1.5rem 0rem;
                &::after{
                    content: "";
                    display: block;
                    position: relative;
                    bottom: -1.6rem;
                    width: 100%;
                    height: 0.1rem;
                    background-color: #eaeaea;
                }
            }
        }
    }
}