$dark-blue: #090B1F;
$gold: #D7B15C;
$background_grey: #F4F4F4;
$red: #580100;
$font-black: #2B2B2B;
$font-grey: #828282;
$white: #FFFFFF;
$navy: #070C3E;
$marcellus :"Marcellus", sans-serif;
$inter :"Inter", sans-serif;
